# Dict

- `dict` is a data type for a "dictionary".

- Other languages have similar data types, such as *hash table*.

- A `dict` is used for storing pieces of data away, based on a *key*.

- A *key* can be most any *immutable* datatype. The most common type for a key is *string*, but it can be a number, or even a *tuple*.

- Each key has associated with it a *value*. 

- A *value*, unlike a *key*,  can be *any* Python object. That means it can be a number, a string, a list, a function, another `dict`, or anything.

- In a `dict`, each key is *unique*. That is, there can be only one entry for a given key inside a given `dict`.

- To store a value away, you supply the key and value.

- To access a value, you usually supply the key for the value you are interested in.

- Thus, a `dict` is comprised of pairs of *key* and *value*.

- In general, the data in a `dict` is *unordered* in that you cannot depend on the order, (like you can do with `list`). Your basic means of access is by `key`, and not order. (NOTE: From Python 3.7 onward, it has been written into the language that insertion order is maintained, but it is best, for now, not to rely on this).



Thus, you can look at a dict as a way to store away all sorts of Python objects, each accessible by a unique key.

## One use of the dict is to store data like a database record, and to put these records (dict's), into a list.

### simple initialization, with curly brackets

In [74]:
d1 = {
    'animal' : 'dog',
    'name' : 'Bowser',
    'age' : 4,
    'weight' : 29,
    'favorite_food' : 'rabbit',
    'good_at' : ['sleeping', 'eating', 'barking']
}

In [9]:
d1

{'name': 'Bowser',
 'age': 4,
 'weight': 29,
 'favorite_food': 'rabbit',
 'good_at': ['sleeping', 'eating', 'barking']}

In [10]:
type(d1)

dict

In [11]:
len(d1)

5

In [75]:
d2 = {
    'animal' : 'cat',
    'name' : 'Layla',
    'age' : 3,
    'weight': 7,
    'favorite_food' : 'bird',
    'good_at' : ['hunting', 'playing']
}

In [180]:
d2

{'animal': 'cat',
 'name': 'Layla',
 'age': 3,
 'weight': 9,
 'favorite_food': 'bird',
 'good_at': ['hunting', 'playing']}

### access via key

In [181]:
d1['favorite_food']

'rabbit'

In [182]:
d2['weight']

9

### when accessing, if key does not exist, error

In [183]:
d2['animal_type']

KeyError: 'animal_type'

In [184]:
d2[0]

KeyError: 0

### to change a value, set current value to new value, via key

In [185]:
d2['weight'] = 8

In [186]:
d2

{'animal': 'cat',
 'name': 'Layla',
 'age': 3,
 'weight': 8,
 'favorite_food': 'bird',
 'good_at': ['hunting', 'playing']}

### to add a new key/value pair, create a unique key, and set it just like value change

In [187]:
d2['is_friendly'] = True

In [188]:
d2

{'animal': 'cat',
 'name': 'Layla',
 'age': 3,
 'weight': 8,
 'favorite_food': 'bird',
 'good_at': ['hunting', 'playing'],
 'is_friendly': True}

### Of course, when setting to a value, if key already exists, we will merely be changing the value for that key, not adding a new key/value pair

In [189]:
d2['weight'] = 9

In [190]:
d2

{'animal': 'cat',
 'name': 'Layla',
 'age': 3,
 'weight': 9,
 'favorite_food': 'bird',
 'good_at': ['hunting', 'playing'],
 'is_friendly': True}

### a simple example of using

In [191]:
if d1['age'] > d2['age']:
    print(f"{d1['name']} is older than {d2['name']}")

Bowser is older than Layla

### another example, using a list and searching through

In [192]:
d3 = {
    'animal' : 'dog',
    'name' : 'Phred',
    'age' : 5,
    'weight' : 23,
    'favorite_food' : 'spinach',
    'good_at' : ['sleeping', 'chasing']
}

In [193]:
animals = [d1, d2, d3]

In [194]:
animals

[{'animal': 'dog',
  'name': 'Bowser',
  'age': 4,
  'weight': 29,
  'favorite_food': 'rabbit',
  'good_at': ['sleeping', 'eating', 'barking']},
 {'animal': 'cat',
  'name': 'Layla',
  'age': 3,
  'weight': 9,
  'favorite_food': 'bird',
  'good_at': ['hunting', 'playing'],
  'is_friendly': True},
 {'animal': 'dog',
  'name': 'Phred',
  'age': 5,
  'weight': 23,
  'favorite_food': 'spinach',
  'good_at': ['sleeping', 'chasing']}]

In [195]:
def search(the_list, key, val):
    result = []
    for ditem in the_list:
        if ditem[key] == val:
            result.append(ditem)
    return result

In [196]:
search(animals, 'animal', 'dog')

[{'animal': 'dog',
  'name': 'Bowser',
  'age': 4,
  'weight': 29,
  'favorite_food': 'rabbit',
  'good_at': ['sleeping', 'eating', 'barking']},
 {'animal': 'dog',
  'name': 'Phred',
  'age': 5,
  'weight': 23,
  'favorite_food': 'spinach',
  'good_at': ['sleeping', 'chasing']}]

In [197]:
search(animals, 'favorite_food', 'rabbit')

[{'animal': 'dog',
  'name': 'Bowser',
  'age': 4,
  'weight': 29,
  'favorite_food': 'rabbit',
  'good_at': ['sleeping', 'eating', 'barking']}]

## A dict can also be used to store data which is tagged

In [207]:
d4 = {
    "CA" : "California",
    "VA" : "Virginia",
    "OK" : "Oklahoma",
    "MD" : "Maryland",
    "DC" : "District of Columbia",
}

In [208]:
d4

{'CA': 'California',
 'VA': 'Virginia',
 'OK': 'Oklahoma',
 'MD': 'Maryland',
 'DC': 'District of Columbia'}

In [87]:
len(d4)

4

In [88]:
d4['FL'] = "Florida"

In [90]:
d4

{'CA': 'California',
 'VA': 'Virginia',
 'OK': 'Oklahoma',
 'MD': 'Maryland',
 'FL': 'Florida'}

In [91]:
d4['CA']

'California'

In [92]:
d4['Florida']

KeyError: 'Florida'

## Several ways to initialize a dict

### Like we just did, with curly brackets

In [93]:
d5 = {
    0 : 'good',
    1: 'bad',
    2: 'ugly'}

In [94]:
d5

{0: 'good', 1: 'bad', 2: 'ugly'}

### Incrementally, by hand

In [95]:
d6 = {}

In [96]:
len(d6)

0

In [97]:
d6[0] = 'rose'

In [98]:
d6[1] = 'daisy'

In [99]:
d6

{0: 'rose', 1: 'daisy'}

### with the dict function, using a list of key/value pairs

In [100]:
d7 = dict([('ingred1', 'flour'),
           ('ingred2', 'sugar')])

In [101]:
type(d7)

dict

In [102]:
d7

{'ingred1': 'flour', 'ingred2': 'sugar'}

In [103]:
d7['ingred1']

'flour'

In [104]:
d7['ingred3'] = 'water'

In [105]:
d7

{'ingred1': 'flour', 'ingred2': 'sugar', 'ingred3': 'water'}

### with the dict function, using keyword arguments (if keys are strings)

In [60]:
d7 = dict(
    dry='car',
    wet='sea',
    high='air'
)

In [61]:
d7

{'dry': 'car', 'wet': 'sea', 'high': 'air'}

### with the dict function, using two lists

In [108]:
the_keys = ['name', 'rank', 'sn']
the_vals = ['Smith', 'Private', '12345']

In [148]:
d8 = dict(zip(the_keys, the_vals))

In [198]:
d8

{'name': 'Smith', 'rank': 'Private', 'sn': '12345'}

In [199]:
d8 = dict(the_keys, the_vals)

TypeError: dict expected at most 1 arguments, got 2

## Check if key is in dict

In [143]:
'rank' in d8

True

In [145]:
'snowman' in d8

False

In [147]:
if 'rank' in d8:
    print('rank in d8')

rank in d8

## Use dict.get() to get a value, or default if key does not exist

In [200]:
d8

{'name': 'Smith', 'rank': 'Private', 'sn': '12345'}

In [201]:
val = d8.get('name')

In [202]:
print('val=', val)

val= Smith

In [203]:
val = d8.get('salary')

In [204]:
print('val=', val)

val= None

In [205]:
val = d8.get('salary', '1000')

In [206]:
print('val=', val)

val= 1000

## Example: counting elements by group

In [112]:
a = ['dog', 'cat', 'cow', 'dog', 'dog', 'mouse', 'rat', 'dog', 'rat', 'cat']

In [113]:
a

['dog', 'cat', 'cow', 'dog', 'dog', 'mouse', 'rat', 'dog', 'rat', 'cat']

In [159]:
"""Format of result:
{
    element1: count1,
    element2: count2,
    ...
}
"""
def get_counts(array):
    result = {}
    for val in array:
        if val in result:
            result[val] = result[val] + 1
        else:
            result[val] = 1
    return result

In [160]:
get_counts(a)

{'dog': 4, 'cat': 2, 'cow': 1, 'mouse': 1, 'rat': 2}

### improvement, using the dict.get() method

In [161]:
def get_counts1(array):
    result = {}
    for val in array:
        result[val] = result.get(val, 0) + 1
    return result

In [162]:
get_counts1(a)

{'dog': 4, 'cat': 2, 'cow': 1, 'mouse': 1, 'rat': 2}

## Example: group by a key

In [171]:
a2 = [
    {'name':'smith',
     'dept': 'accounting'
    },
    {'name':'jones',
     'dept' : 'accounting'
    },
    {'name':'stevens',
     'dept' : 'coding'
    },
    {'name': 'wise',
     'dept' : 'qa'
    },
    {'name': 'doe',
     'dept' : 'coding'
    }
]

In [209]:
"""format of result: 
{
    dept1: [name1, name2,...],
    dept2: [name1, name2,..],
    ...
}
"""

def names_by_dept(array):
    result = {}
    for d in array:
        dept = d['dept']
        if dept in result:
            result[dept].append(d['name'])
        else:
            result[dept] = [d['name']]
    return result

In [210]:
names_by_dept(a2)

{'accounting': ['smith', 'jones'],
 'coding': ['stevens', 'doe'],
 'qa': ['wise']}

In [229]:
def names_by_dept1(array):
    result = {}
    for d in array:
        dept = d['dept']
        result[dept] = result.get(dept,[]).append(d['name']) 
    return result

In [230]:
names_by_dept(a2)

{'accounting': ['smith', 'jones'],
 'coding': ['stevens', 'doe'],
 'qa': ['wise']}

## for loops to iterate through a dict

In [213]:
d8

{'name': 'Smith', 'rank': 'Private', 'sn': '12345'}

In [214]:
d8.keys()

dict_keys(['name', 'rank', 'sn'])

In [215]:
d8.values()

dict_values(['Smith', 'Private', '12345'])

In [218]:
d8.items()

dict_items([('name', 'Smith'), ('rank', 'Private'), ('sn', '12345')])

In [225]:
def scan1(d):
    for key in d.keys():
        val = d[key]
        print(f'key={key}, val={val}')

In [226]:
scan1(d8)

key=name, val=Smith
key=rank, val=Private
key=sn, val=12345

In [227]:
def scan2(d):
    for key, val in d.items():
        print(f'key={key}, val={val}')

In [228]:
scan2(d8)

key=name, val=Smith
key=rank, val=Private
key=sn, val=12345

## Deleting dict elements

In [231]:
d9 = {
    0: 'hi',
    1: 'there',
    2: 'world'
}

In [232]:
d9

{0: 'hi', 1: 'there', 2: 'world'}

In [233]:
del d9[1]

In [234]:
d9

{0: 'hi', 2: 'world'}

In [235]:
d9[1] = 'there'

In [236]:
d9

{0: 'hi', 2: 'world', 1: 'there'}

In [237]:
val = d9.pop(2)

In [238]:
val

'world'

In [239]:
d9

{0: 'hi', 1: 'there'}

In [240]:
val = d9.pop('house')

KeyError: 'house'

In [241]:
val = d9.pop('house', 'home')

In [242]:
val

'home'

## Merging dicts

In [243]:
d10 = {
    'temp' : 'hot',
    'wind' : 'low',
    'humidity' : 'high'
}

In [244]:
d11 = {
    'temp' : 'very hot',
    'wind' : 'high',
    'humidity' : 'too high',
    'rain' : 3
}

In [245]:
dd = d10.copy()

In [246]:
dd

{'temp': 'hot', 'wind': 'low', 'humidity': 'high'}

In [247]:
dd.update(d11)

In [248]:
dd

{'temp': 'very hot', 'wind': 'high', 'humidity': 'too high', 'rain': 3}

### Homework: write a function update(d1, d2) which basically does what dict.update() does, (but don't use dict.update()!) Basically, update d1 with d2 to get the same result as d1.update(d2).