# How to Train Your List

## Some basics

In [1]:
a = []

In [2]:
len(a)

0

In [3]:
type(a)

list

In [4]:
a1 = [1, 2, 3]

In [5]:
a2 = [4, 5, 'dog']

In [6]:
len(a1)

3

In [7]:
len(a2)

3

In [8]:
a3 = a1 + a2

In [9]:
a3

[1, 2, 3, 4, 5, 'dog']

In [10]:
len(a3)

6

In [11]:
a3.reverse()

In [12]:
a3

['dog', 5, 4, 3, 2, 1]

In [13]:
a3.reverse()

In [14]:
a3

[1, 2, 3, 4, 5, 'dog']

In [15]:
a3.append('cat')

In [16]:
a3

[1, 2, 3, 4, 5, 'dog', 'cat']

In [17]:
a1

[1, 2, 3]

In [18]:
a3.append(a1)

In [19]:
a3

[1, 2, 3, 4, 5, 'dog', 'cat', [1, 2, 3]]

## Indexing and Slicing

In [20]:
a3[0]

1

In [21]:
a3[6]

'cat'

In [22]:
a3[7]

[1, 2, 3]

In [23]:
a3[7][1]

2

In [24]:
a3[0:2]

[1, 2]

In [25]:
a3[-1]

[1, 2, 3]

In [26]:
a3[-2]

'cat'

In [27]:
a3[2:4]

[3, 4]

In [28]:
a3[0] = 'snake'

In [29]:
a3

['snake', 2, 3, 4, 5, 'dog', 'cat', [1, 2, 3]]

In [30]:
a3[2:4] = ['snake', 'worm']

In [31]:
a3

['snake', 2, 'snake', 'worm', 5, 'dog', 'cat', [1, 2, 3]]

In [146]:
a3 = ['snake', 2, 5, 'dog', 'cat', [1, 2, 3]]

In [147]:
a4 = a3[:]

In [148]:
a4

['snake', 2, 5, 'dog', 'cat', [1, 2, 3]]

In [149]:
a5 = a3[2:]

In [150]:
a5

[5, 'dog', 'cat', [1, 2, 3]]

## Inserting, Deleting

In [151]:
a3 = ['snake', 2, 5, 'dog', 'cat', [1, 2, 3]]

In [152]:
a3.insert( 3, 'lion')

In [153]:
a3

['snake', 2, 5, 'lion', 'dog', 'cat', [1, 2, 3]]

In [154]:
len(a3)

7

In [155]:
a3.append(4)

In [156]:
a3

['snake', 2, 5, 'lion', 'dog', 'cat', [1, 2, 3], 4]

In [157]:
a3.pop()

4

In [159]:
x = a3.pop()

In [160]:
a3

['snake', 2, 5, 'lion', 'dog']

In [161]:
x

'cat'

In [165]:
a3 = ['snake', 2, 5, 'lion', 'dog', 'cat', [1, 2, 3], 4]

In [166]:
del a3[1:3]

In [167]:
a3

['snake', 'lion', 'dog', 'cat', [1, 2, 3], 4]

## List References

In [168]:
a4 = a3

In [169]:
a3

['snake', 'lion', 'dog', 'cat', [1, 2, 3], 4]

In [170]:
a4

['snake', 'lion', 'dog', 'cat', [1, 2, 3], 4]

In [171]:
a3[0] = 'python'

In [172]:
a3

['python', 'lion', 'dog', 'cat', [1, 2, 3], 4]

In [173]:
a4

['python', 'lion', 'dog', 'cat', [1, 2, 3], 4]

In [174]:
def func(a):
    a[2] = 'potato'

In [175]:
func(a3)

In [176]:
a3

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [177]:
a4

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [178]:
id(a3)

4613245128

In [179]:
id(a4)

4613245128

In [180]:
a5 = a3[:]

In [181]:
a3

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [182]:
a5

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [183]:
print(id(a3))
print(id(a5))

4613245128
4613617992

In [184]:
a3[0] = 'popcorn'

In [185]:
a3

['popcorn', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [186]:
a5

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

## Searching

In [65]:
a5 = ['python', 2, 'potato', 'lion', 'worm', 'cat']

In [66]:
'popcorn' in a5

False

In [67]:
'potato' in a5

True

In [68]:
def find_word(a, word):
    if word in a:
        print(f'found {word}!')
    else:
        print('no go')

In [69]:
find_word(a5, 'popcorn')

no go

In [70]:
find_word(a5, 'potato')

found potato!

In [71]:
a5.index('potato')

2

In [72]:
a5[2]

'potato'

## more stuff with lists

In [73]:
w = ['now', 'is', 'the', 'time']

In [74]:
w[0] + ' ' + w[1] + ' '

'now is '

In [75]:
' '.join(w)

'now is the time'

In [76]:
','.join(w)

'now,is,the,time'

In [77]:
''.join(w)

'nowisthetime'

In [78]:
'now is the time'.split(' ')

['now', 'is', 'the', 'time']

### unpacking list into a tuple (individual elements)

In [187]:
a7 = [1,2]

In [190]:
a = a7[0]
b = a7[1]

In [191]:
print(f'a={a}, b={b}')

a=1, b=2

In [193]:
c, d = a7

In [194]:
print(f'c={c}, d={d}')

c=1, d=2

In [196]:
#c,d,e = a7

## For loops

### Basic

In [197]:
a5 = ['python', 2, 'potato', 'lion', 'worm', 'cat']

In [198]:
for a in a5:
    print(f'a={a}')

a=python
a=2
a=potato
a=lion
a=worm
a=cat

In [83]:
i = 0
while i < len(a5):
    print(f'a={a5[i]}')
    i += 1

a=python
a=2
a=potato
a=lion
a=worm
a=cat

### range

In [84]:
type(range(1,3))

range

In [85]:
list(range(1,3))

[1, 2]

In [86]:
for i in range(0,5):
    print(f'i={i}')

i=0
i=1
i=2
i=3
i=4

In [87]:
for i in range(5):
    print(f'i={i}')

i=0
i=1
i=2
i=3
i=4

In [88]:
for i in range(len(a5)):
    print(f'val={a5[i]}')

val=python
val=2
val=potato
val=lion
val=worm
val=cat

### enumerate

In [89]:
for i,val in enumerate(a5):
    print(f'i={i}, val={val}')

i=0, val=python
i=1, val=2
i=2, val=potato
i=3, val=lion
i=4, val=worm
i=5, val=cat

### nested loops

In [90]:
a6 = ['egg', 'chicken', [0,1,2,3], 'butter']
for val in a6:
    if isinstance(val, list):
        for ival in val:
            print(f'ival={ival}')

ival=0
ival=1
ival=2
ival=3

### else with for

In [91]:
def use_else_with_for(last_letter, array):
    # check if string ends with last_letter
    for val in array:
        if val[-1] == last_letter:
            break
    else:
        print(f'no {last_letter} as last letter!')
        return
    print(f'{array} had {last_letter} as last letter')

In [92]:
a6 = ['egg', 'chicken', 'butter']

In [93]:

use_else_with_for('z', a6)

no z as last letter!

In [94]:
use_else_with_for('n', a6)

['egg', 'chicken', 'butter'] had n as last letter

### filter, map, ..

In [203]:
def myfilter(array, letter):
    na = []
    for val in array:
        if isinstance(val, str) and val[0] == letter:
           continue
        na.append(val)
    return na

In [204]:
a6 = ['butter', 'eggs', 'lettuce', 'onion', 'oil']

In [205]:
res = myfilter(a6, 'e')

In [206]:
res

['butter', 'lettuce', 'onion', 'oil']

In [99]:
res = myfilter(a6, 'o')

In [100]:
res

['butter', 'eggs', 'lettuce']

In [101]:
a6 = ['butter', 'eggs', 'lettuce', 'onion', 'oil']

In [102]:
def mymap(array, search, change):
    for i,val in enumerate(array):
        if val == search:
            array[i] = change

In [103]:
mymap(a6, 'eggs', 'potato')

In [104]:
a6

['butter', 'potato', 'lettuce', 'onion', 'oil']

### list comprehension

In [212]:
a = [1,2,3,4, 5]

In [213]:
def evens(a):
    # do not alter list in loop, so produce new list instead
    ret = []
    for i in a:
        if not i % 2 :
            ret.append(i)
    return ret

In [214]:
evens(a)

[2, 4]

In [108]:
k = [val for val in a if not val % 2]

In [109]:
k

[2, 4]

###  two (or more) lists at once

In [110]:
a = [1,2,3]
b = [4,5,6,7]
for x,y in zip(a,b):
    print(f'x={x}, y={y}')

x=1, y=4
x=2, y=5
x=3, y=6

## Sort

In [111]:
b = ['oranges', 'Apples', 'asperagus' ]

In [112]:
c = sorted(b)

In [113]:
c

['Apples', 'asperagus', 'oranges']

In [114]:
b

['oranges', 'Apples', 'asperagus']

In [115]:
b.sort()

In [116]:
b

['Apples', 'asperagus', 'oranges']

In [117]:
b.sort(reverse=True)

In [118]:
b

['oranges', 'asperagus', 'Apples']

In [119]:
a = ["oranges", "apples", "Bananas"]
a.sort(key=str.lower)

In [120]:
a

['apples', 'Bananas', 'oranges']

In [121]:
a = ["oranges", "apples", "Bananas"]
a.sort()

In [122]:
a

['Bananas', 'apples', 'oranges']

In [123]:
# key vs comparison function
def numeric_compare(x, y):
    return x - y

boxes = [5,4,3,2,1]

import functools 
cmp = functools.cmp_to_key(numeric_compare)
boxes.sort(key=cmp)

In [124]:
boxes

[1, 2, 3, 4, 5]

## tuples

In [125]:
t = 1,2,3

In [126]:
t

(1, 2, 3)

In [127]:
type(t)

tuple

In [128]:
len(t)

3

In [129]:
t1 = 5,

In [130]:
t1

(5,)

In [131]:
t2 = (5,)

In [132]:
t2

(5,)

In [133]:
t = 1,2,3,4,5

In [134]:
s = t[0:4]

In [135]:
s

(1, 2, 3, 4)

In [215]:
#t[2] = 7

## Example - create random passwords

In [138]:
import random

#random.seed(1)

def get_random_char(chars):
    lenchars = len(chars)
    r = random.randint(0, lenchars - 1)
    return chars[r]

def pw1(nchars):
    mychars = 'abcdefghijklmnopqrstuvwxyz'
    
    newchars = []
    for _ in range(nchars):
        c = get_random_char(mychars)
        newchars.append(c)
    newpass = ''.join(newchars)
    return newpass
	
def create_passwords():
    for i in range(10):
        pw = pw1(5)
        print(f'i={i}, password= {pw}')

In [139]:
create_passwords()

i=0, password= nelwi
i=1, password= cgmpc
i=2, password= pvxut
i=3, password= ilhhd
i=4, password= qxthm
i=5, password= bwmyg
i=6, password= genhb
i=7, password= ltgwl
i=8, password= xxyjt
i=9, password= inibz