# How to Train Your List

## Some basics

In [ ]:
a = []

In [ ]:
len(a)

In [ ]:
type(a)

In [ ]:
a1 = [1, 2, 3]

In [ ]:
a2 = [4, 5, 'dog']

In [ ]:
len(a1)

In [ ]:
len(a2)

In [ ]:
a3 = a1 + a2

In [ ]:
a3

In [ ]:
a3 = a2 + a1

In [ ]:
a3

In [ ]:
len(a3)

In [ ]:
a3.reverse()

In [ ]:
a3

In [ ]:
a3.reverse()

In [ ]:
a3

In [ ]:
a3.append('cat')

In [ ]:
a3

In [ ]:
a1

In [ ]:
a3.append(a1)

In [ ]:
a3

In [ ]:
str(a1)

## Indexing and Slicing

In [ ]:
a3[0]

In [ ]:
a3[6]

In [ ]:
a3[7]

In [ ]:
a3[7][1]

In [ ]:
a3[0:2]

In [ ]:
a3[-1]

In [ ]:
a3[-2]

In [ ]:
a3[2:4]

In [ ]:
a3[0] = 'snake'

In [ ]:
a3

In [ ]:
a3[2:4] = ['snake', 'worm']

In [ ]:
a3

In [ ]:
a3 = ['snake', 2, 5, 'dog', 'cat', [1, 2, 3]]

In [ ]:
a4 = a3[:]

In [ ]:
a4

In [ ]:
a5 = a3[2:]

In [ ]:
a5

## Inserting, Deleting

In [ ]:
a3 = ['snake', 2, 5, 'dog', 'cat', [1, 2, 3]]

In [ ]:
a3.insert( 3, 'lion')

In [ ]:
a3

In [ ]:
len(a3)

In [ ]:
a3.append(4)

In [ ]:
a3

In [ ]:
a3.pop()

In [ ]:
x = a3.pop()

In [ ]:
a3

In [ ]:
x

In [ ]:
a3 = ['snake', 2, 5, 'lion', 'dog', 'cat', [1, 2, 3], 4]

In [ ]:
del a3[1:3]

In [700]:
a3

['popcorn', 'lion', 'potato', 'cat', [1, 2, 3], 4]

## List References

In [701]:
a4 = a3

In [702]:
a3

['popcorn', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [703]:
a4

['popcorn', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [704]:
a3[0] = 'python'

In [705]:
a3

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [706]:
a4

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [707]:
def func(a):
    a[2] = 'potato'

In [708]:
func(a3)

In [709]:
a3

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [710]:
a4

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [711]:
id(a3)

4613124872

In [712]:
id(a4)

4613124872

In [713]:
a5 = a3[:]

In [714]:
a3

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [715]:
a5

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [716]:
print(id(a3))
print(id(a5))

4613124872
4613683912

In [717]:
a3[0] = 'popcorn'

In [718]:
a3

['popcorn', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [719]:
a5

['python', 'lion', 'potato', 'cat', [1, 2, 3], 4]

In [720]:
id(a5)

4613683912

In [721]:
a5.append('dog')
print('id=', id(a5))

id= 4613683912

## Searching

In [ ]:
a5 = ['python', 2, 'potato', 'lion', 'worm', 'cat']

In [ ]:
'popcorn' in a5

In [ ]:
'potato' in a5

In [ ]:
def find_word(a, word):
    if word in a:
        print(f'found {word}!')
    else:
        print('no go')

In [ ]:
find_word(a5, 'popcorn')

In [ ]:
find_word(a5, 'potato')

In [ ]:
a5.index('potato')

In [ ]:
a5[2]

## more stuff with lists

In [722]:
w = ['now', 'is', 'the', 'time']

In [723]:
w[0] + ' ' + w[1] + ' '

'now is '

In [725]:
s = ' '.join(w)

In [727]:
w

['now', 'is', 'the', 'time']

In [728]:
','.join(w)

'now,is,the,time'

In [729]:
''.join(w)

'nowisthetime'

In [730]:
' '.join(w[0:2])

'now is'

In [731]:
'now is the time'.split(' ')

['now', 'is', 'the', 'time']

### unpacking list into a tuple (individual elements)

In [732]:
a7 = [1,2,3]

In [733]:
a = a7[0]
b = a7[1]
c = a7[2]

In [734]:
print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3

In [735]:
d, e, f = a7

In [736]:
print(f'd={d}, e={e}, f={f}')

d=1, e=2, f=3

In [737]:
c, d = a7

ValueError: too many values to unpack (expected 2)

In [738]:
a7 = [0,1,2,3,4]

In [739]:
c, d, *e = a7

In [740]:
c

0

In [741]:
d

1

In [742]:
e

[2, 3, 4]

## For loops

### Basic

In [ ]:
a5 = ['python', 2, 'potato', 'lion', 'worm', 'cat']

In [ ]:
for var in a5:
    print(f'var={var}')

In [ ]:
i = 0
while i < len(a5):
    print(f'var={a5[i]}')
    i += 1

### range

In [743]:
type(range(1,3))

range

In [744]:
list(range(1,3))

[1, 2]

In [ ]:
for i in range(0,5):
    print(f'i={i}')

In [ ]:
for i in range(5):
    print(f'i={i}')

In [ ]:
for i in range(len(a5)):
    print(f'val={a5[i]}')

### enumerate

In [745]:
for i,val in enumerate(a5):
    print(f'i={i}, val={val}')

i=0, val=python
i=1, val=lion
i=2, val=potato
i=3, val=cat
i=4, val=[1, 2, 3]
i=5, val=4
i=6, val=dog

### nested loops

In [746]:
a6 = ['egg', 'chicken', [0,1,2,3], 'butter']
for val in a6:
    print(f'val={val}')
    if isinstance(val, list):
        for ival in val:
            print(f'ival={ival}')

val=egg
val=chicken
val=[0, 1, 2, 3]
ival=0
ival=1
ival=2
ival=3
val=butter

### else with for

In [747]:
def use_else_with_for(last_letter, array):
    # check if string ends with last_letter
    for val in array:
        if val[-1] == last_letter:
            print(f'{array} had {last_letter} as last letter')
            break
    else:
        print(f'no {last_letter} as last letter!')

In [748]:
a6 = ['egg', 'chicken', 'butter']

In [749]:
use_else_with_for('z', a6)

no z as last letter!

In [750]:
use_else_with_for('n', a6)

['egg', 'chicken', 'butter'] had n as last letter

###  two (or more) lists at once

In [753]:
a = [1,2,3]
b = [4,5,6,7]
for x,y in zip(a,b):
    print(f'x={x}, y={y}')

x=1, y=4
x=2, y=5
x=3, y=6

### modifiying elements and deleting/adding elements in a loop and a cautionary tale!

#### map

In [757]:
a6 = ['butter', 'eggs', 'lettuce', 'onion', 'oil']

In [754]:
def mymap1(array, search, change):
    for i,val in enumerate(array):
        if val == search:
            val = change

In [758]:
mymap1(a6, 'eggs', 'potato')

In [759]:
a6

['butter', 'eggs', 'lettuce', 'onion', 'oil']

In [760]:
def mymap2(array, search, change):
    for i,val in enumerate(array):
        if val == search:
            array[i] = change

In [763]:
mymap2(a6, 'butter', 'avocado')

In [764]:
a6

['avocado', 'potato', 'lettuce', 'onion', 'oil']

#### experiment

In [765]:
a6 = list(range(10))

In [766]:
a6

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [767]:
for i,val in enumerate(a6):
    print(f'i={i}, val={a6[i]}')

i=0, val=0
i=1, val=1
i=2, val=2
i=3, val=3
i=4, val=4
i=5, val=5
i=6, val=6
i=7, val=7
i=8, val=8
i=9, val=9

In [770]:
for i,val in enumerate(a6):
    print(f'i={i}, val={val}')
    del a6[i]

i=0, val=1
i=1, val=5
i=2, val=9

In [769]:
a6

[1, 3, 5, 7, 9]

#### Bottem line: do not delete or add to list inside loop that you are looping through!

#### filter

In [772]:
def myfilter1(array, letter):
    for i,val in enumerate(array):
        if val[0] == letter:
            del array[i]

In [773]:
a6 = ['ego','eggo','emma','butter', 'eggs', 'lettuce', 'onion', 'oil', 'ezra']

In [774]:
myfilter1(a6, 'e')

In [775]:
a6

['eggo', 'butter', 'lettuce', 'onion', 'oil']

In [779]:
def myfilter2(array, letter):
    result = []
    for val in array:
        if val[0] != letter:
            result.append(val)
    return result

In [780]:
a6 = ['ego','eggo','emma','butter', 'eggs', 'lettuce', 'onion', 'oil', 'ezra']

In [783]:
res = myfilter2(a6, 'e')

In [785]:
res

['butter', 'lettuce', 'onion', 'oil']

In [ ]:
res = myfilter2(a6, 'z')

In [787]:
a8 = ['e', 'chris']

In [788]:
myfilter2(a8, 'e')

['chris']

In [ ]:
res

### list comprehension

In [789]:
a = [1,2,3,4,5]

In [790]:
def evens(a):
    # do not alter list in loop, so produce new list instead
    result = []
    for i in a:
        if not i % 2 :
            result.append(i)
    return result

In [791]:
k = evens(a)

In [792]:
k

[2, 4]

In [793]:
a = [1,2,3,4,5]

In [795]:
k = [val for val in a if not val % 2]

In [796]:
k

[2, 4]

In [797]:
k = [val**2 for val in a if not val % 2]

In [798]:
k

[4, 16]

## Sort

In [799]:
b = ['oranges', 'Apples', 'asparagus' ]

In [800]:
c = sorted(b)

In [801]:
c

['Apples', 'asparagus', 'oranges']

In [802]:
b

['oranges', 'Apples', 'asparagus']

In [803]:
b.sort()

In [804]:
b

['Apples', 'asparagus', 'oranges']

In [805]:
b.sort(reverse=True)

In [806]:
b

['oranges', 'asparagus', 'Apples']

In [807]:
a = [5,25,200,3]
a.sort()

In [808]:
a

[3, 5, 25, 200]

In [809]:
a = ["oranges", "apples", "Bananas"]
a.sort()

In [810]:
a

['Bananas', 'apples', 'oranges']

In [811]:
a = ["oranges", "apples", "Bananas"]
a.sort(key=str.lower)

In [812]:
a

['apples', 'Bananas', 'oranges']

In [813]:
a = ["oranges", "apples", "Bananas", "pie"]
a.sort(key=len)

In [814]:
a

['pie', 'apples', 'oranges', 'Bananas']

In [815]:
# sort by last letter
def sortf(val):
    #print(f'val={val}')
    return val[-1]

In [816]:
a = ["oranges", "applesz", "Banana", "pie"]

In [817]:
a.sort(key=sortf)

In [818]:
a

['Banana', 'pie', 'oranges', 'applesz']

In [ ]:
# sort by second value
def sortf2(val):
    return val[1]

In [821]:
a = [[2,3], [4,5], [6,1]]

In [822]:
a.sort(key=sortf2)

In [823]:
a

[[6, 1], [2, 3], [4, 5]]

## tuples

In [824]:
t = 1,2,3

In [825]:
t

(1, 2, 3)

In [826]:
type(t)

tuple

In [827]:
len(t)

3

In [828]:
t1 = 5,

In [829]:
t1

(5,)

In [830]:
t2 = (5,)

In [831]:
t2

(5,)

In [832]:
t = 1,2,3,4,5

In [833]:
s = t[0:4]

In [834]:
s

(1, 2, 3, 4)

In [835]:
t[2] = 7

TypeError: 'tuple' object does not support item assignment

In [836]:
t1 = (1, 2, ['dog'])

In [838]:
t1[2][0] = 'cat'

In [839]:
t1

(1, 2, ['cat'])

## Example - create random passwords

In [ ]:
import random

#random.seed(1)

def get_random_char(chars):
    lenchars = len(chars)
    r = random.randint(0, lenchars - 1)
    return chars[r]

def create_password(nchars):
    mychars = 'abcdefghijklmnopqrstuvwxyz'
    
    newchars = []
    for _ in range(nchars):
        c = get_random_char(mychars)
        newchars.append(c)
    newpass = ''.join(newchars)
    return newpass

In [ ]:
create_password(5)

In [ ]:
import string
print(f'letters={string.ascii_letters}')
print(f'digits={string.digits}')
print(f'punctuation={string.punctuation}')

In [ ]:
import random
import string

#random.seed(1)

def get_random_char(chars):
    lenchars = len(chars)
    r = random.randint(0, lenchars - 1)
    return chars[r]

def create_password(nchars):
    mychars = string.ascii_letters + string.digits + string.punctuation
    #mychars = string.printable
    
    newchars = [get_random_char(mychars) for _ in range(nchars)]
    newpass = ''.join(newchars)
    return newpass

In [ ]:
create_password(20)

In [ ]:
def create_passwords(n):
    for _ in range(n):
        pw = create_password(20)
        print(f'pw={pw}')

In [ ]:
create_passwords(10)

## Example: shuffle (without using random.shuffle)

In [ ]:
# shuffle in place

import random

def shuffle(a):
    b = a[:]
    for i in range(len(a)):
        print(f'a={i}')
        n = random.randint(0, len(b) - 1)
        a[i] = b[n]
        del b[n]

In [ ]:
a = [0, 1, 2]
shuffle(a)
print(a)